Deprecated==1.2.14
et-xmlfile==1.1.0
jaconv==0.3.4
numpy==1.26.3
openpyxl==3.1.2
pandas==2.1.4
pykakasi==2.2.1
python-dateutil==2.8.2
pytz==2023.3.post1
setuptools==69.0.3
six==1.16.0
tzdata==2023.4
wrapt==1.16.0
